@media(max-width:768px){
    .main{
        width: 100%;
        margin-top: 40px;
    }

    .main li a{
        font-size: 14px;
    }

    .text{
        display: flex;
        flex-direction: column;
    }

    .text .desc{
        margin-bottom: 20px;
        margin-left: 10px;
        width: 90%;
        font-size: 18px;
    }

    .text iframe{
        width: 90%;
        margin-left: 10px;
    }

    .text-3 .container-2{
        width: 250px;
    }
}